<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Welcome to <%= title %> official backend documentation. We hope the ride
      through our API will be as smooth as it seems.
    </p>
  </body>
</html>
